{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Profile | {{ user }} {{ super }}{% endblock %}

{% block body %}
    <h1>Profile</h1>
    <div class="grid-20">
        <ul>
            <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
            <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
        </ul>
    </div>
    <div class="grid-80">
        {% if not profile.first_name %}
            <p>You have an empty profile.</p>
            <a href="{% url 'accounts:edit_profile' %}">Add some info</a>
        {% else %}
            <div class="grid-50">
                <p><span class="underline">First Name</span>: {{ profile.first_name }}</p>
                <p><span class="underline">Email</span>: {{ profile.email }}</p>
                <p><span class="underline">City</span>: {{ profile.city }}</p>
                <p><span class="underline">State</span>: {{ profile.state }}</p>
                <p><span class="underline">Country</span>: {{ profile.country }}</p>
            </div>
            <div class="grid-50">
                <p><span class="underline">Last Name</span>: {{ profile.last_name }}</p>
                <p><span class="underline">Birth Date</span>: {{ profile.birth_date }}</p>
                <p><span class="underline">Favorite Animal</span>: {{ profile.favorite_animal }}</p>
                <p><span class="underline">Hobby</span>: {{ profile.hobby }}</p>
            </div>
            <div class="grid-100">
                <p><span class="underline">Bio</span>: {{ profile.bio|safe }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
